extends layout

block content
  .video-container
    div#player

  .events-container
    h1 Playback history
    .events
      if events
        each event in events
          .event
            if event.creator
              .event__user
                img(src=event.creator.google.profileImageUrl width="40" height="40")
              .event__description
                div #{event.creator.google.name} #{event.typeDescription} 
                  a(href=`#${event.videoId}`) #{event.videoTitle}
    .login
      if !user
        a(href="/auth/google" class="login__button")