extends layout

block content
  .video-container
    div#player

  .events-container
    if !user
      .events.card
        .login
          div You must be signed in to make changes.
          a(href="/auth/google" class="login__button")
            
    .events.card
      if events
        ul.list.event-list
          each event in events
            if  event.creator
              li.tile
                .tile-content.ink-reaction
                  .tile-icon
                    img(src=event.creator.google.profileImageUrl)
                  .tile-text #{event.creator.google.name} #{event.typeDescription} 
                    span(data-timestamp=event.created title=event.created)= h.moment(event.created).fromNow()
                    small
                      a(href=`#${event.videoId}` class="history-video-link") #{event.videoTitle}