extends layout

block content
  .video-container
    div#player

  .events-container
    .events
      if events
        ul.list
          each event in events
            li.tile
              .tile-content.ink-reaction
                .tile-icon
                  img(src=event.creator.google.profileImageUrl)
                .tile-text #{event.creator.google.name} #{event.typeDescription} 
                  span(data-timestamp=event.created)= h.moment(event.created).fromNow()
                  small
                    a(href=`#${event.videoId}`) #{event.videoTitle}

    .login
      if !user
        a(href="/auth/google" class="login__button")